<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HBO-ICT > Client 05 > Handlebars Parials</title>
    <!-- college_05_03_handlebars_partial.html -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
      integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
      crossorigin="anonymous"
    ></script>
    <!-- handlebars tempalte wordt hier gedefineerd-->
    <script id="handlebars-mensen-template" type="text/x-handlebars-template">
      <!-- een inline partial -->
      {{#*inline "mijnParial"}}
        Voornaam: <strong>{{voornaam}}</strong><br>
      {{/inline}}

      <!-- hier gebruik je de partial -->
      {{#each mensen}}
        {{> mijnParial}}
      {{/each}}
    </script>
  </head>
  <body>
    <script>
      (() => {
        //get template contents
        let template = document.getElementById("handlebars-mensen-template")
          .innerHTML;
        //compile it in runtime
        let templateScript = Handlebars.compile(template);

        let context = {
          mensen: [
            { voornaam: "Henk", achteraam: "de Vrede" },
            { voornaam: "Ingrid", achteraam: "de Vrede" },
          ],
        };
        //execute and display
        let templateResult = templateScript(context);
        document.body.innerHTML += templateResult;
      })();
    </script>
  </body>
</html>