<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HBO-ICT > Client 05 > Handlebars in browser</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
      integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
      crossorigin="anonymous"
    ></script>
    <!-- handlebars tempalte is defined here-->
    <script id="handlebars-message-template" type="text/x-handlebars-template">
      <section class="message">
        <h1>
          {{title}}
        </h1>
        <p>
          {{#if show}}
            {{message}}
          {{else}}
            Verborgen 🙈
          {{/if}}
        </p>
      </section>
    </script>
  </head>
  <body>
    <script>
      (() => {
        //get template contents
        let template = document.getElementById("handlebars-message-template")
          .innerHTML;
        //compile it in runtime
        let templateScript = Handlebars.compile(template);

        let context = {
          title: "Hallo Jumbo!",
          show: true,
          message: "WCpapier is in de aanbieding!",
        };
        //execute and display
        let templateResult = templateScript(context);
        document.body.innerHTML += templateResult;
      })();
    </script>
  </body>
</html>
